.form {
  margin: 0 auto;
  max-width: 952px;
  display: grid;
  grid-template-columns: 204px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button {
  min-width: 175px;
}

.symbolList {
  max-width: 944px;
  margin: 0 auto;
  padding: 120px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.symbolListItem {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

.circle {
  padding: 0 16px;
}