.form {
    margin: 0 auto;
    max-width: 944px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.radioInputs {
    margin-right: 40px;
    display: flex;
    gap: 40px;
}

.chart {
    margin: 0 auto;
    padding: 48px 0 0 0;
    height: 320px;
    max-width: 944px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.button {
    width: 205px;
}

.button:nth-child(3) {
    margin-right: 68px;
}

.buttonArr {
    width: 168px;
}